<?xml version="1.0"?>
<!--
/**
 * routes
 * @copyright Copyright © 2017 Budihariyana. All rights reserved.
 * @author    budihariyana@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="budihariyana_banner" frontName="budihariyana_banner">
            <module name="Budihariyana_Banner" />
        </route>
    </router>
</config>
