<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<productscheduler>
			<options>
				<enable/>
				<cron>* */5 * * *</cron>
			</options>
			<email>
				<email_notification/>
				<send_email_before/>
				<email_recipients/>
				<email_sender/>
				<email_template/>
			</email>
		</productscheduler>
	</default>
</config>
