<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="budihariyana_banner" frontName="budihariyana_banner">
            <module name="Budihariyana_Banner"/>
        </route>
    </router>
</config>
