<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Budihariyana_Banner::budihariyana_main_menu" title="Budihariyana Module">
                    <resource id="Budihariyana_Banner::budihariyana_banner_menu" title="Banner Management">
                        <resource id="Budihariyana_Banner::budihariyana_banner_list_menu" title="Banner List"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
